<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-product-filter
          [optionName]="optionName"
          [optionList]="optionList"
          (filter)="onFilter($event)"
        ></app-product-filter>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <ng-template ngFor let-book [ngForOf]="books" let-i="index">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card w-100 my-2 shadow-2-strong">
                <div class="card shadow">
                  <img
                    src="{{ book.image }}"
                    alt="watch large"
                  />
                  <div
                    class="card-footer bg-gray-200 border-top border-gray-300 p-4"
                  >
                    <a [routerLink]="['/book',book._id]" class="h5">{{ book.title }}</a>
                    <div class="d-flex mt-2">
                      <span class="badge bg-primary me-2">{{ book.category }}</span>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center mt-3"
                    >
                      <span class="h6 mb-0 text-gray">{{ book.price | currency }}</span>
                      <a class="btn btn-primary shadow-0 me-1">
                        <span class="fas fa-cart-plus me-2"></span> Add to cart
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>

        <hr />

        <!-- Pagination -->
        <mat-paginator
            [length]="dataLength"
            [pageSize]="12"
            [pageIndex]="filter.page"
            (page)="loadPage($event)"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
      </div>
    </div>
  </div>
</section>
