.option-item {
  .option-header {
    padding-left: 20px;
  }

  .option-body {
    padding-left: 20px;
    padding-top: 0px;
  }
}

.submit-btn{
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
}
